@import "../../styles/variables";

.menu {
  position: relative;
  overflow: scroll;
  flex: 2;
  border: 10px double $border-color;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 30px;
    border-bottom: 1px solid $border-color;

    &-h1 {
      margin: 5px 0 15px 0;
    }
  }

  &-list {
    &-content {
      padding: 0;
      margin: 0 30px;
    }
  }
}
