$primary-color: #0a6438;
$primary-dark-color: #08502c;
$secondary-color: #bc0b1b;

$border-color: #1a1a1a;

$background-gradient: rgba(10, 100, 56, 0.8);

// $primary-font-color: #fff;
// $secondary-font-color: rgba(255, 255, 255, 0.9);

// $primary-font: "Roboto", sans-serif;
// $secondary-font: "Lato", sans-serif;
// $tertiary-font: "Alegreya Sans", sans-serif;
